django==4.2.24
dlib==20.0.0
channels==4.3.1
daphne==4.2.1
tensorflow==2.15.0
numpy==1.26.4
opencv-python==4.9.0.80
redis==6.4.0
channels-redis==4.3.0
asgiref==3.9.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
django-redis==6.0.0